table{
    border-collapse: collapse;
    font-size: 0.9em;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    
}

td, th {
    width: 200px;
    padding: 10px 0; 
    border: 1px solid; /* Add borders to table cells */
    text-align: center;
}

th{
    background-color: darkcyan;
}

#reset-button {
    padding: 10px 40px;
}
